@use "./variables.scss" as *;

// put your custom CSS here!
/* 目次の階層表示 */
.toc-content {
  .depth-1 {
    padding-left: 1.2rem;
  }

  .depth-2 {
    padding-left: 2.4rem;
  }
}
/* シンプルな折りたたみ */
.callout {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0.5rem 0 !important;
}

.callout-title {
  background: transparent !important;
  border-bottom: 1px solid var(--gray);
  padding: 0.7rem 0 !important;
}

.callout-icon {
  display: none !important;
}

.callout-content {
  padding: 1rem 0 !important;
}

.callout-content ul {
  list-style-type: disc !important;
}

.callout-content a {
  text-decoration: none;
}
.markdown-preview-view,
.markdown-preview-view p,
.markdown-preview-view li,
.markdown-preview-view a,
.markdown-preview-view .callout-content {
  font-family: var(--font-interface) !important;
  font-size: 16px;
  font-weight: 400;
  color: var(--darkgray);
}
.callout-title-inner p {
  font-family: "Noto Serif JP", serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}
.markdown-preview-view p,
.markdown-preview-view li,
.markdown-preview-view .callout-content {
  line-height:1.75  !important;
}
@media (min-width: 1200px) {
  .page > #quartz-body {
    grid-template-columns: 260px auto 260px !important;
  }
}

/* 大見出し：仕事・活動、経歴など */
.markdown-preview-view h2 {
  font-family: "Noto Serif JP", serif !important;
  font-weight: 700 !important;
}

/* 小見出し：公演・展示、トークなど */
.callout-title-inner p {
  font-family: "Noto Serif JP", serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.markdown-preview-view h2 {
  margin-top: 4rem !important;
}
@media (max-width: 768px) {
  .markdown-preview-view img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
}

@media (max-width: 768px) {

  /* プロフィール写真：少し小さく＋中央 */
  .markdown-preview-view img {
    width: 82%;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  /* 小見出し：少し大きく */
  .callout-title-inner p {
    font-size: 28px !important;
  }

  /* 本文：少し小さく */
  .markdown-preview-view p,
  .markdown-preview-view li,
  .markdown-preview-view .callout-content {
    font-size: 15px !important;
  }
}

.markdown-preview-view h1 {
  font-family: "Noto Serif JP", serif !important;
  font-weight: 800 !important;
}
